<template>
	<v-container fluid fill-height>
		<v-layout align-center justify-center>
			<v-flex xs12 sm8 md4>
				<v-card class="eleveation-6">
					<v-toolbar dark color="orange darken-1">
						<v-toolbar-title>Connexion</v-toolbar-title>
					</v-toolbar>
					<v-card-text>
						<v-form>
							<v-text-field
								label="Adresse email universitaire"
								v-model="email"
								suffix="@etu.univ-lyon1.fr"
								required
								color="orange darken-1"
								prepend-icon="email"
							></v-text-field>
							<v-text-field
								label="Mot de passe"
								hint="Au moins 8 caractères contenant des lettres et des chiffres"
								v-model="password"
								min="8"
								:type="'password'"
								counter
								color="orange darken-1"
								prepend-icon="security"
								required
							></v-text-field>
						</v-form>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn flat color="orange darken-1" :to="'register'">Inscription</v-btn>
						<v-btn flat color="orange darken-1" @click="submit">Connexion</v-btn>
					</v-card-actions>
				</v-card>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
export default {
  data() {
	  return {
		  passwordVisible: false
	  }
  }
};
</script>
