<template>
	<v-container fluid fill-height>
		<v-layout align-center justify-center>
			<v-flex xs12 sm8 md4>
				<v-card class="elevation-6">
					<v-toolbar dark color="orange darken-1">
						<v-btn flat icon :to="'login'">
							<v-icon>arrow_back</v-icon>
						</v-btn>
						<v-toolbar-title>Demande d'inscription</v-toolbar-title>
					</v-toolbar>
					<v-card-text>
					<p>Afin d'éviter l'usurpation d'identité et de garantir des statistiques les plus justes possibles, vous devez fournir votre adresse mail universitaire à des fins de validation.</p>
					<p>Un email vous sera envoyé avec un lien unique vous permettant de finaliser votre inscription.</p>
					<p><v-icon color="black">info</v-icon> <strong>Toutes les données stockées sur Ranking IUT sont anonymisées. Le seul lien entre les notes que vous rentrez et vous est la valeur de hachage de votre adresse email universitaire.</strong></p>
					<v-text-field
						label="Adresse email universitaire"
						v-model="email"
						suffix="@etu.univ-lyon1.fr"
						required
						color="orange darken-1"
					></v-text-field>
					<p v-bind="email"></p>
				</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn flat color="orange darken-1">Envoyer</v-btn>
					</v-card-actions>
				</v-card>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
export default {
  data() {
	  return {
		  email: ""
	  }
  }
};
</script>
